@model List<GestionCinema.Models.InfoSalle>
@{
    ViewData["Title"] = "Gestionnaire de salle";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/Cinema.styles.css" asp-append-version="true" />
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="nav-link text-light" asp-area="" asp-controller="Admin" asp-action="AccueilAdmin">Accueil</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Gestionnaire" asp-action="PlaceSalle">Place de salle</a>
                    </li>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="text-center">

    <h1>New Salle</h1>
    <form action="/Gestionnaire/SaveSalle" method="post">
        <div class="form-group">
            <label for="titre">Nom salle:</label>
            <input class="form-control" type="text" name="salle" id="salle">

            <label for="duree">Ouverture:</label>
            <input class="form-control" type="time" name="ouvre" id="ouvre">

            <label for="duree">Fermeture:</label>
            <input class="form-control" type="time" name="ferme" id="ferme">
            <button class="btn btn-primary">Ajouter</button>
        </div>
    </form>

    <h1>Liste salle</h1>
    <table class="table table-bordered">
        <tr>
            <th>nom de Salle</th>
            <th>nom de Colonne</th>
            <th>nombre de Lignes</th>
            <th>nombre de Places</th>
            <th>Ouverture</th>
            <th>Fermeture</th>
        </tr>
        @foreach (var info in Model)
        {
            <tr>
                <td>@info.NomSalle</td>
                <td>@info.NomColonne</td>
                <td>@info.NbLignes</td>
                <td>@info.NbPlaces</td>
                <td>@info.ouverture</td>
                <td>@info.fermeture</td>
            </tr>
        }
    </table>
    <br />
    <a href="/Admin/AccueilAdmin" class="btn btn-secondary">Retour a l'accueil</a>
</div>
