@model List<GestionCinema.Models.ListeReserve>
@{
    ViewData["Title"] = "Mon liste reservation";
    var currentDateTime = DateTime.Now;
}

<div class="text-center">
    <h3 class="display-2">Reservations faites</h3>
    <table class="table table-bordered">
        <tr>
            <th>IdReservation</th>
            <th>EtatPlace</th>
            <th>PlageHoraireDebut</th>
            <th>Titre</th>
            <th>NomSalle</th>
            <th></th>
        </tr>
        @foreach (var res in Model)
        {
            <tr>
                <td>@res.IdReservation</td>
                <td>
                    @if(res.EtatPlace==1)
                    {
                        <p>Payer</p>
                    }
                    else
                    {
                        <p>Reserver simplement</p>
                    }
                </td>
                <td>@res.PlageHoraireDebut</td>
                <td>@res.Titre</td>
                <td>@res.NomSalle</td>
                <td>
                    @if(res.EtatPlace==1)
                    {
                        if(res.PlageHoraireDebut<=currentDateTime)
                        {
                            <a class="nav-link text-light bg-danger">
                                Expirer
                            </a>
                        }
                        else{
                            <a class="nav-link text-light bg-info">
                                payé
                            </a>
                        }
                    }
                    else
                    {
                        <a class="nav-link text-light bg-danger" asp-area="" asp-controller="Home" asp-action="Annuler" asp-route-idReservation="@res.IdReservation">
                            Annuler
                        </a>
                        <a class="nav-link text-light bg-info" asp-area="" asp-controller="Home" asp-action="Update" asp-route-idReservation="@res.IdReservation">
                            Payer
                        </a>
                    }
                    
                </td>
            </tr>
        }
    </table>
</div>
